<!-- login/register Page.. -->


<div class="main-container" style="background-image- url('./assets/login.jpg')">
  <div class="login">
    <h3>
      bla bla.. heading..
    </h3>

    <a href="#cd-product-tour" (click)="login()" class="btn salmon" data-type="cd-tour" style="position: relative;">
		<i class="fa fa-google-plus-square" aria-hidden="true" style="font-size: 35px; position: absolute; top: 12px; left: 28px;"></i>
		Login/Register..
	</a>
  </div>		
</div>


              <!--   <a href="#cd-product-tour" (click)="login()" class="btn salmon" data-type="cd-tour" style="position: relative;">
					<i class="fa fa-google-plus-square" aria-hidden="true" style="font-size: 35px; position: absolute; top: 12px; left: 28px;"></i>
					Login
				</a>
             -->